*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}
.menu{
    text-align: center;
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #b63288;
}
.menu ul li a:hover{
    color: #d692be;
}
.main-content{
    background-color: #8c8d9994;
    padding: 10px;
}
.col-4{
    width: 18%;
    background-color: whitesmoke;
    margin: 1%;
    padding: 2%;
    float: left;
}
.footer{
    background-color: gray;
    color: white;
}
.tb-full{
    width: 100%;
}
table tr th{
    border-bottom: 1px solid;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    background-color: rgb(81, 81, 230);
    padding: 1%;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.btn-primary:hover{
    background-color: rgb(30, 30, 192);
}
.btn-secondary{
    background-color: rgb(94, 201, 103);
    padding: 1%;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.btn-secondary:hover{
    background-color: rgb(25, 97, 11);
}
.btn-danger{
    background-color: rgb(199, 53, 9);
    padding: 1%;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.btn-danger:hover{
    background-color: rgb(109, 10, 10);
}
.tb-30{
    width: 30%;
}
.success{
    color: green;
}
.error{
    color: red;
}